nav {
  background: rgb(20, 167, 130);
  color: rgb(246, 246, 246);
}

a {
  color: rgb(246, 246, 246) !important;
}

a:hover {
  color: rgb(80, 80, 218) !important;
  transition: 0.25s;
}

.mini-content-header {
  background: rgba(221, 214, 214, 0.787);
  bottom: 465px;
}

header {
  height: 400px;
}

.color-h4 {
  color: rgb(20, 167, 130) !important;
}

.parrafo-team {
  color: rgb(158, 157, 157);
}

.parrafo-team,
.parrafos-section-1 {
  font-size: 18px;
}

.width-section-1 {
  width: 35%;
  background: rgb(204, 204, 204);
  border-radius: 10px;
}
